/* poppins-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins-v22-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v22-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v22-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-900 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/poppins-v22-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

:root {
    --color-praimary-dark: #31261A ;
    --color-praimary-light: #faf4ea ;
    --color-secondary-dark: #a18268 ;
    --colorbrand-default: #819b57 ;
    --colorbrand-dark: #465929 ;
    --colorbrand-light: #cfcfbc ;

}
/*base*/
h1,
h2,
h3,
h4,
h5,
h6, p {
    margin-top: 0;
}
*{
    box-sizing: border-box;
}
body
{
    color: var(--color-praimary-dark);
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-praimary-light);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

address {
    font-style: normal;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.visually-hidden{
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.section{
    padding: 48px 0;
}
.button 
{
    padding: 16px 32px;
    color: var(--color-praimary-light);
    background-color: var(--colorbrand-default) ;
    border: 2px solid var(--colorbrand-default) ;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;

}

.button:hover 
{
    color: var(--colorbrand-dark);
    background-color: transparent;
}

.link 
{
    color: var(--color-praimary-light);
    text-decoration: none;
    line-height: 1.5;
    
}
.link:hover 
{
    color: var(--colorbrand-default);
}
.container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
}
/*header*/
.header-container{
    display: flex;
    gap: 40px;
}
.header-nav{
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: 40px;
}
.header-menu{
    display: flex;
    gap: 64px;
    flex-grow: 1;
    justify-content: center;
}
/*hero-section*/
.hero-section{
    padding: 272px 0;
    background-image: url(/images/herosection-background.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
.hero-title 
{
    margin-bottom: 0;
    color: var(--color-praimary-light);
    text-align: center;
    font-weight: 900;
    font-size: 128px;
    
}
.hero-title .accent 
{
    color: var(--colorbrand-default);
}
/*advantages section*/
.advantages-section {
    padding: 16px 0;
    background-color: var(--colorbrand-default);
}
.advantages-list 
{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.advantages-accent
{
color: var(--color-praimary-light);
font-size: 20px;
font-weight: 300;

}
.section-title 
{
    font-size: 64px;
    font-weight: 900;
    line-height: 1.3;
}
.section-title.centered {
  text-align: center;
}
.section-title .accent 
{
    color: var(--colorbrand-dark);
}
/*trad-sec*/
.trad-sec{
    padding-top: 96px;
}
.trad-container{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.trad-content{
    max-width: 710px;
}
.trad-title{
    margin-bottom: 42px;
}

.trad-text .brand {
   color: var(--colorbrand-default);
   font-weight: 600;
}
.trad-text .uppercase {
    text-transform: uppercase;
}
.trad-text.limited{
    max-width: 340px;
}
/*Chefs*/
.chefs-title{
    margin: 0 auto 80px;
    max-width: 540px;
}
.chefs-title::before,.chefs-title::after {
    display: block;
    border: 2px solid #cfcfbc;
    width: 352px; 
    content: '';
}
.chef-photo{
    border-radius: 4px 4px 4px 200px;
    box-shadow: -16px 16px 0 0 var(--color-praimary-light), -16px 16px 0 2px var(--color-secondary-dark)
}
.chef-title 
{
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: 600;
}
/*Formats*/
.formats-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.formats-item {
    flex-basis: calc((100% - 40px) / 3);
}
.format-card {
    height: 444px;
    background-image: linear-gradient(180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    var(--color-praimary-dark) 100%);
    border: 1px solid gold;
    padding: 24px;
    border-radius: 16px;
}

.formats-title {
    margin-bottom: 80px ;
}
.format-title
{
    font-weight: 600;
    font-size: 24px;

}
.format-text 
{
    font-size: 14px;
    font-weight: 300;
}
/* Contacts*/
.contact-title{
    margin-bottom: 16px;
}
/* footer*/
footer {
    background-image: url(/images/footer-background.png);
    background-color: var(--color-praimary-dark);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.address-link {
    color: var(--color-praimary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}
.address-link:hover {
    color: var(--colorbrand-default);
    
}
.address-copyright{
    font-size: 14px;
}
